<h1>All Products</h1>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, product_path(product) %> - $<%= product.price %></li>
  <% end %>
  <%= link_to product.title, product_path(product) %>
  <% @products.each do |product| %>
    <li><%= link_to product.title, product_path(product) %> - $<%= product.price %> (Category: <%= product.category.name %>)</li>
  <% end %>
</ul>
